<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand">Best Cars Dealership</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:index'%}">Dealers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:about'%}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:contact'%}">Contact Us</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-link" href="#">({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                </ul>
                {% else %}
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control " type="text" placeholder="username" name="username">
                    <input class="form-control" type="password" placeholder="password" name="password">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a class="btn btn-link" type="button" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                </form>
                {% endif %}
            </div>
        </nav>
    <!-- Add reviews as cards -->
        <div class="container">
        </div>
    </body>

</html>